*{
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    font-family: Tahoma;
    font-size: 13px;

}

nav li{
font-weight: bold;
margin-left: 13px;
margin-right: 13px;

}


.bg-success {
    background-color: #4c466c !important;
}

.img_srv{
    min-height:300px;
    max-height:300px;
    min-width: 300px;
    max-width: 300px;
}



.hero {
    position: relative; 
    height: 37vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero::before {    
      content: "";
      background-image: url('arayeshgah_Banner.jpg');
      /* background-size: cover; */
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.6;
}

h1 {
  position: relative;
  margin-top:1%;
  font-size: 8rem;
  line-height: 0.9;
  text-align: center;
  font-weight: 900;
  color: #ef54ef;
  text-shadow: 2px 23px 20px #000000;
}